<ion-tabs>
  <ion-tab label="{{'TABQUICK' | translate}}" icon="open" href="/tabs/(quickplay:quickplay)">
    <ion-router-outlet name="quickplay"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="{{'TABPROGRAM' | translate}}" icon="timer" href="/tabs/(programmedplay:programmedplay)">
    <ion-router-outlet name="programmedplay"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="{{'TABHELP' | translate}}" icon="information-circle" href="/tabs/(help:help)">
    <ion-router-outlet name="help"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="{{'TABABOUT' | translate}}" icon="contacts" href="/tabs/(about:about)">
    <ion-router-outlet name="about"></ion-router-outlet>
  </ion-tab>
</ion-tabs>
