<ion-tabs>
  <ion-tab label="Quick" icon="home" href="/tabs/(quickplay:quickplay)">
    <ion-router-outlet name="quickplay"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Program" icon="home" href="/tabs/(programmedplay:programmedplay)">
    <ion-router-outlet name="programmedplay"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Help" icon="information-circle" href="/tabs/(help:help)">
    <ion-router-outlet name="help"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="About" icon="contacts" href="/tabs/(about:about)">
    <ion-router-outlet name="about"></ion-router-outlet>
  </ion-tab>
</ion-tabs>
